.node circle {
    cursor:pointer;
    stroke:#3182bd;
    stroke-width:1.5px
}

.node text {
    font:10px "Lucida Sans Unicode";
    pointer-events:none;
    text-anchor:right;
	
}

.node div {
    font:20px
}

polygon.link {
    fill:#C9C9C9;
    stroke:#C9C9C9;
    stroke-width:1.5px
}

.form-control {
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    box-shadow:0 1px 1px rgba(0,0,0,0.075) inset;
    color:#555;
    display:block;
    font-size:14px;
    height:18px;
    line-height:2em;
    padding:6px 8px;
    transition:border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0;
    width:100%
}

.form-control:focus {
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.keyword-filter {
    display:inline;
    margin:5px;
    width:230px;
    -webkit-box-shadow:0 0 3px .5px rgba(12,164,245,0.7);
    -moz-box-shadow:0 0 3px .5px rgba(12,164,245,0.7);
    box-shadow:0 0 3px .5px rgba(12,164,245,0.7)
}

#chart-pane {
    position:absolute;
    margin-right:10px;
    top:75px;
    right:10px;
    width:120px;
    height:450px;
    background-color:rgba(255,255,255,0.9)
}

.metric-box {
    color:#FFF;
    text-align:center;
    margin:10px;
    height:70px;
    width:110px;
    padding-top:30px
}

.metric-box:hover {
    background:#000;
    background:-moz-linear-gradient(top,#000 100%,#000 100%,#000 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(100%,#000),color- stop(100%,#000),color-stop(100%,#000));
    background:-webkit-linear-gradient(top,#000 100%,#000 100%,#ededed 100%);
    background:-o-linear-gradient(top,#000 100%,#000 100%,#000 100%);
    background:-ms-linear-gradient(top,#000 100%,#000 100%,#000 100%);
    background:linear-gradient(to bottom,#000 100%,#000 100%,#000 100%)
}

.metric-label {
    font-family:"Verdana";
    font-size:11px;
    bottom:2px;
    padding-top:0
}

.metric-value {
    font-family:"Impact";
    font-size:30px;
    margin:10px
}

.header-pane {
    border-radius:15px;
    background:#fff;
    padding:6px 10px;
    border:.5px solid #E1E1E1;
    -webkit-box-shadow:1px 2px 5px -1px rgba(0,0,0,0.5);
    -moz-box-shadow:1px 2px 5px -1px rgba(0,0,0,0.5);
    box-shadow:1px 2px 5px -1px rgba(0,0,0,0.5)
}

#select-lang {
    background:transparent;
    width:260px;
    line-height:1;
    border:0;
    border-radius:0;
    height:30px;
    -webkit-appearance:none
}

.styled-select {
    width:235px;
    margin:5px;
    height:30px;
    overflow:hidden;
    background:url(../img/down_arrow_select.jpg) no-repeat right #ddd;
    border:1px solid #ccc
}

#left-panel {
    position:absolute;
    top:68px;
    left:12px;
    width:270px;
    height:88%;
    background:#FFF;
    padding-top:5px;
    background-color:rgba(255,255,255,0.5);
    font-family:"Verdana";
    font-size:11px
}

#keyword-pane {
    width:250px;
    height:58%;
    background:#FFF;
    padding-top:5px;
    background-color:rgba(255,255,255,0.5);
    font-family:"Verdana";
    font-size:11px;
    overflow:hidden;
    -webkit-box-shadow:1px 2px 5px -1px rgba(0,0,0,0.5);
    -moz-box-shadow:1px 2px 5px -1px rgba(0,0,0,0.5);
    box-shadow:1px 2px 5px -1px rgba(0,0,0,0.5)
}

#keywords-header {
    background:#858585;
    padding:5px;
    margin:0 5px;
    text-align:center;
    color:#fff;
    font-family:"Verdana";
    font-size:12px
}

#keyword-inner-pane {
	font-family: "Lucida Sans Unicode";
    width:270px;
    height:79%;
    margin:5px;
    overflow:auto;
    z-index:1000
}

#description-pane {
    float:top;
    margin-top:7px;
    width:250px;
    height:37%;
    background:#FFF;
    padding-top:5px;
    background-color:rgba(255,255,255,0.5);
    font-family:"Verdana";
    font-size:11px;
    overflow:hidden;
    -webkit-box-shadow:1px 2px 5px -1px rgba(0,0,0,0.5);
    -moz-box-shadow:1px 2px 5px -1px rgba(0,0,0,0.5);
    box-shadow:1px 2px 5px -1px rgba(0,0,0,0.5)
}

#desc {
    width:250px;
    margin:5px;
    overflow:auto;
    z-index:1000
}

.button-select {
    background-color:rgba(0,92,138,1);
    color:#fff
}

#keyword-table td {
    width:220px;
    padding:4px
}

#keyword-table td:hover {
    background-color:rgba(255,204,102,1);
    color:#fff
}

.expandcollapsepane {
    display:inline;
    z-index:999
}

#expandlevel {
    background:#6CF;
    background-image:-webkit-linear-gradient(top,#6CF,#39F);
    background-image:-moz-linear-gradient(top,#6CF,#39F);
    background-image:-ms-linear-gradient(top,#6CF,#39F);
    background-image:-o-linear-gradient(top,#6CF,#39F);
    background-image:linear-gradient(to bottom,#6CF,#39F);
    -webkit-border-radius:60;
    -moz-border-radius:60;
    border-radius:10px;
    border:1px solid transparent;
    font-family:"Verdana";
    color:#fff;
    font-size:12px;
    padding:5px 10px;
    text-decoration:none
}

#expandlevel:hover {
    color:#39F;
    background:#3cb0fd;
    background-image:-webkit-linear-gradient(top,#fff,#fff);
    background-image:-moz-linear-gradient(top,#fff,#fff);
    background-image:-ms-linear-gradient(top,#fff,#fff);
    background-image:-o-linear-gradient(top,#fff,#fff);
    background-image:linear-gradient(to bottom,#fff,#fff);
    text-decoration:none;
    border:1px solid #39F
}

#collapselevel {
    background:#3498db;
    background-image:-webkit-linear-gradient(top,#6CF,#39F);
    background-image:-moz-linear-gradient(top,#6CF,#39F);
    background-image:-ms-linear-gradient(top,#6CF,#39F);
    background-image:-o-linear-gradient(top,#6CF,#39F);
    background-image:linear-gradient(to bottom,#6CF,#39F);
    -webkit-border-radius:60;
    -moz-border-radius:60;
    border-radius:10px;
    border:1px solid transparent;
    font-family:"Verdana";
    color:#fff;
    font-size:12px;
    padding:5px 10px;
    text-decoration:none
}

#collapselevel:hover {
    color:#39F;
    background:#fff;
    background-image:-webkit-linear-gradient(top,#fff,#fff);
    background-image:-moz-linear-gradient(top,#fff,#fff);
    background-image:-ms-linear-gradient(top,#fff,#fff);
    background-image:-o-linear-gradient(top,#fff,#fff);
    background-image:linear-gradient(to bottom,#fff,#fff);
    text-decoration:none;
    border:1px solid #39F
}

#expand {
    background:#3498db;
    background-image:-webkit-linear-gradient(top,#3498db,#005C8A);
    background-image:-moz-linear-gradient(top,#3498db,#005C8A);
    background-image:-ms-linear-gradient(top,#3498db,#005C8A);
    background-image:-o-linear-gradient(top,#3498db,#005C8A);
    background-image:linear-gradient(to bottom,#3498db,#005C8A);
    -webkit-border-radius:60;
    -moz-border-radius:60;
    border-radius:60px;
    font-family:"Verdana";
    color:#fff;
    font-size:20px;
    padding:10px;
    text-decoration:none
}

#expand:hover {
    background:#3cb0fd;
    background-image:-webkit-linear-gradient(top,#3cb0fd,#3498db);
    background-image:-moz-linear-gradient(top,#3cb0fd,#3498db);
    background-image:-ms-linear-gradient(top,#3cb0fd,#3498db);
    background-image:-o-linear-gradient(top,#3cb0fd,#3498db);
    background-image:linear-gradient(to bottom,#3cb0fd,#3498db);
    text-decoration:none
}

#collapseAll {
    z-index:999;
    background:#900;
    background-image:-webkit-linear-gradient(top,#FFC285,#F93);
    background-image:-moz-linear-gradient(top,#FFC285,#F93);
    background-image:-ms-linear-gradient(top,#FFC285,#F93);
    background-image:-o-linear-gradient(top,#FFC285,#F93);
    background-image:linear-gradient(to bottom,#FFC285,#F93);
    -webkit-border-radius:10;
    -moz-border-radius:10;
    border-radius:10px;
    border:1px solid transparent;
    font-family:"Verdana";
    color:#fff;
    font-size:12px;
    padding:5px 10px;
    text-decoration:none
}

#collapseAll:hover {
    color:#F93;
    background:#fff;
    background-image:-webkit-linear-gradient(top,#fff,#fff);
    background-image:-moz-linear-gradient(top,#fff,#fff);
    background-image:-ms-linear-gradient(top,#fff,#fff);
    background-image:-o-linear-gradient(top,#fff,#fff);
    background-image:linear-gradient(to bottom,#fff,#fff);
    text-decoration:none;
    border:1px solid #F93
}


#help {

    z-index:999;
    background:#CFCFCF;
    background-image:-webkit-linear-gradient(top,#E6E6E6,#CFCFCF);
    background-image:-moz-linear-gradient(top,#E6E6E6,#CFCFCF);
    background-image:-ms-linear-gradient(top,#E6E6E6,#CFCFCF);
    background-image:-o-linear-gradient(top,#E6E6E6,#CFCFCF);
    background-image:linear-gradient(to bottom,#E6E6E6,#CFCFCF);
    -webkit-border-radius:10;
    -moz-border-radius:10;
    border-radius:10px;
    border:1px solid transparent;
    font-family:"Verdana";
    color:#fff;
    font-size:12px;
    padding:5px 10px;
    text-decoration:none
}

#help:hover {
    color:#000;
    background:#fff;
    background-image:-webkit-linear-gradient(top,#fff,#fff);
    background-image:-moz-linear-gradient(top,#fff,#fff);
    background-image:-ms-linear-gradient(top,#fff,#fff);
    background-image:-o-linear-gradient(top,#fff,#fff);
    background-image:linear-gradient(to bottom,#fff,#fff);
    text-decoration:none;
    border:1px solid #000;
}

.overlay{
    background: rgba(0,0,0, 0.4);
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:10000;
}

#helpbox{
    position:fixed;
    top:-200px;
    left:30%;
    right:30%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px;
    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:11000;
	font-family:"Verdana";
	font-size:12px;
	
}

a.boxclose{
    float:right;
    margin-top:-15px;
    margin-right:-15px;
    cursor:pointer;
}

#metric-time-span {
    display:none;
    margin-right:30px;
    float:right;
    width:200px;
    text-align:center;
    font-family:"Verdana";
    font-size:12px
}

#time-range-value {
    color:#F60
}

input[type=range] {
    -webkit-appearance:none;
    width:100%;
    margin:0
}

input[type=range]:focus {
    outline:none
}

input[type=range]::-webkit-slider-runnable-track {
    width:100%;
    height:2.4px;
    cursor:pointer;
    box-shadow:.5px .5px 2px rgba(0,0,0,0.5),0 0 .5px rgba(13,13,13,0.5);
    background:#fff;
    border-radius:1.3px;
    border:0 solid rgba(0,0,0,0)
}

input[type=range]::-webkit-slider-thumb {
    box-shadow:1px 1px 1px #000000,0 0 1px #0d0d0d;
    border:0 solid #000;
    height:20px;
    width:12px;
    border-radius:50px;
    background:#cacaca;
    cursor:pointer;
    -webkit-appearance:none;
    margin-top:-16.8px
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background:#NaNNaNNaN
}

input[type=range]::-moz-range-track {
    width:100%;
    height:2.4px;
    cursor:pointer;
    box-shadow:.5px .5px 2px rgba(0,0,0,0.5),0 0 .5px rgba(13,13,13,0.5);
    background:#fff;
    border-radius:1.3px;
    border:0 solid rgba(0,0,0,0)
}

input[type=range]::-moz-range-thumb {
    box-shadow:1px 1px 1px #000000,0 0 1px #0d0d0d;
    border:0 solid #000;
    height:20px;
    width:12px;
    border-radius:50px;
    background:#cacaca;
    cursor:pointer
}

input[type=range]::-ms-track {
    width:100%;
    height:2.4px;
    cursor:pointer;
    background:transparent;
    border-color:transparent;
    color:transparent
}

input[type=range]::-ms-fill-lower {
    background:#NaNNaNNaN;
    border:0 solid rgba(0,0,0,0);
    border-radius:2.6px;
    box-shadow:.5px .5px 2px rgba(0,0,0,0.5),0 0 .5px rgba(13,13,13,0.5)
}

input[type=range]::-ms-fill-upper {
    background:#fff;
    border:0 solid rgba(0,0,0,0);
    border-radius:2.6px;
    box-shadow:.5px .5px 2px rgba(0,0,0,0.5),0 0 .5px rgba(13,13,13,0.5)
}

input[type=range]::-ms-thumb {
    box-shadow:1px 1px 1px #000000,0 0 1px #0d0d0d;
    border:0 solid #000;
    height:20px;
    width:12px;
    border-radius:50px;
    background:#cacaca;
    cursor:pointer;
    height:2.4px
}

input[type=range]:focus::-ms-fill-lower {
    background:#fff
}

input[type=range]:focus::-ms-fill-upper {
    background:#NaNNaNNaN
}
