body {font: 10pt arial;}

input {font: 10pt arial;}


div.myParagraph {
    width: 200px;
    white-space: normal;
}
		
div.timeline-frame {
    -moz-box-sizing: border-box;
    border: 1px solid #bebebe;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
	background-color: #FAFAFA;
}

div.timeline-content {
    overflow: hidden;
    position: relative;
}

div.timeline-axis {
    -moz-box-sizing: border-box;
    border-color: #bebebe;
    border-top-style: solid;
    border-width: 1px;
    box-sizing: border-box;
	background-color:#4D4D94;
	
	
}

div.timeline-axis-grid {
    -moz-box-sizing: border-box;
    border-left-style: solid;
    border-width: 1px;
    box-sizing: border-box;
	
}

div.timeline-axis-grid-minor {
    border-color: #bfbfbf; /*#e5e5e5;*/
	
}

div.timeline-axis-grid-major {
    border-color: #bfbfbf;
}

div.timeline-axis-text {
    color: #FFFFFF;
    padding: 3px;
    white-space: nowrap;
}

div.timeline-axis-text-minor {
}

div.timeline-axis-text-major {
}

div.timeline-event {

    -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border-color: #7F7F7F;
    box-sizing: border-box;
    color: #FF0000;
    display: inline-block;
	max-width:350px;
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

div.timeline-event-selected {
    background-color: #FF0000; /*#47A3FF;*/
    border-color: #000000;/*#246BB2;*/
	color: #FFFFFF;
    z-index: 999; /*999*/
	  opacity: 1; 
}
div.notifyjs-happyblue-base {
	z-index: 1001;
		max-width:100px;
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

/* TODO: use another color or pattern? */
div.timeline-event-cluster {
    background: url('img/cluster_bg.png') #97b0f8;
    color: #ffffff;
}

div.timeline-event-cluster div.timeline-event-dot {
    border-color: #d5ddf6;

}

div.timeline-event-box {
    -moz-border-radius: 5px; /* For Firefox 3.6 and older */
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

div.timeline-event-dot {
    -moz-border-radius: 5px; /* For Firefox 3.6 and older */
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
}

div.timeline-event-tri {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #7F7F7F;
	
}

div.event-inner-span {
	display: inline;
	float:left;
	width:35px;
	height:35px;
}

div.event-inner-span:empty {
	display: none;
}

img.event-image {
	position: absolute;
	margin:auto;
	left:0px;
	top: 0px;
	bottom:0px;
	padding-left:4px;
	/*width:50%;
	height:50%;*/
	
}

img.event-image[src=""] {
   display: none;
}

div.event-text {
	display: inline;

}

div.timeline-event-range {
    -moz-border-radius: 2px; /* For Firefox 3.6 and older */
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}

div.timeline-event-range-drag-left {
    cursor: w-resize;
    z-index: 1000;  /*1000*/
}

div.timeline-event-range-drag-right {
    cursor: e-resize;
    z-index: 1000; /*1000*/
}

div.timeline-event-line {
    -moz-box-sizing: border-box;
    border-left-style: solid;
    border-left-width: 1px;
    box-sizing: border-box;
}

div.timeline-event-content {
    margin: 5px;
    overflow: hidden;

}

div.timeline-groups-axis {
    -moz-box-sizing: border-box;
    border-color: #bebebe;
    border-width: 1px;
    box-sizing: border-box;
}

div.timeline-groups-axis-onleft {
    border-style: none solid none none;
}

div.timeline-groups-axis-onright {
    border-style: none none none solid;
}

div.timeline-groups-text {
    color: #4d4d4d;
    padding-left: 10px;
    padding-right: 10px;
}

div.timeline-currenttime {
    -moz-box-sizing: border-box;
    background-color: #ff7f6e;
    box-sizing: border-box;
    width: 2px;
}

div.timeline-customtime {
    -moz-box-sizing: border-box;
    background-color: #6e94ff;
    box-sizing: border-box;
    cursor: move;
    width: 2px;
}

div.timeline-navigation {
    -moz-border-radius: 2px; /* For Firefox 3.6 and older */
    -moz-box-sizing: border-box;
    background-color: #f5f5f5;
    border: 1px solid #bebebe;
    border-radius: 2px;
    box-sizing: border-box;
    color: #808080;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
}

div.timeline-navigation-new,
div.timeline-navigation-delete,
div.timeline-navigation-zoom-in,
div.timeline-navigation-zoom-out,
div.timeline-navigation-move-left,
div.timeline-navigation-move-right {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    height: 36px;
    padding: 10px;
    text-decoration: none;
    width: 36px;
}

div.timeline-navigation-new {
    background: url('img/16/new.png') no-repeat center;
}

/* separator between new and navigation buttons */
div.timeline-navigation-new-line {
    border-right: 1px solid #bebebe;
}

